<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Syntaxes</key>
	<array>
		<dict>
			<key>syntax</key>
			<string>Default</string>
			<key>tagCase</key>
			<string>asis</string>
			<key>attributeCase</key>
			<string>asis</string>
			<key>attributeQuote</key>
			<string>double</string>
			<key>indent</key>
			<true/>
			<key>inlineBreaks</key>
			<integer>3</integer>
			<key>selfClosing</key>
			<string>xhtml</string>
			<key>filters</key>
			<string></string>
		</dict>
		<dict>
			<key>syntax</key>
			<string>HTML</string>
			<key>tagCase</key>
			<string>lower</string>
			<key>attributeCase</key>
			<string>lower</string>
			<key>attributeQuote</key>
			<string>double</string>
			<key>indent</key>
			<true/>
			<key>inlineBreaks</key>
			<integer>3</integer>
			<key>selfClosing</key>
			<string>xhtml</string>
			<key>filters</key>
			<string></string>
		</dict>
		<dict>
			<key>syntax</key>
			<string>CSS</string>
			<key>tagCase</key>
			<string>upper</string>
			<key>attributeCase</key>
			<string>lower</string>
			<key>attributeQuote</key>
			<string>double</string>
			<key>indent</key>
			<true/>
			<key>inlineBreaks</key>
			<integer>3</integer>
			<key>selfClosing</key>
			<string>xhtml</string>
			<key>filters</key>
			<string>css</string>
		</dict>
		<dict>
			<key>syntax</key>
			<string>XML</string>
			<key>tagCase</key>
			<string>asis</string>
			<key>attributeCase</key>
			<string>asis</string>
			<key>attributeQuote</key>
			<string>double</string>
			<key>indent</key>
			<true/>
			<key>inlineBreaks</key>
			<integer>3</integer>
			<key>selfClosing</key>
			<string>xml</string>
			<key>filters</key>
			<string></string>
		</dict>
		<dict>
			<key>syntax</key>
			<string>XSL</string>
			<key>tagCase</key>
			<string>asis</string>
			<key>attributeCase</key>
			<string>asis</string>
			<key>attributeQuote</key>
			<string>double</string>
			<key>indent</key>
			<true/>
			<key>inlineBreaks</key>
			<integer>3</integer>
			<key>selfClosing</key>
			<string>xml</string>
			<key>filters</key>
			<string>html, xsl</string>
		</dict>
		<dict>
			<key>syntax</key>
			<string>HAML</string>
			<key>tagCase</key>
			<string>lower</string>
			<key>attributeCase</key>
			<string>lower</string>
			<key>attributeQuote</key>
			<string>double</string>
			<key>indent</key>
			<true/>
			<key>inlineBreaks</key>
			<integer>3</integer>
			<key>selfClosing</key>
			<string>html</string>
			<key>filters</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
